n8n_workflows/weekly_report.json
{
  "name": "Weekly Productivity Report",
  "nodes": [
    {
      "parameters": {
        "rule": "cron",
        "interval": ["0 9 * * 1"],
        "timezone": "America/New_York"
      },
      "name": "Trigger - Monday 9 AM",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "method": "GET",
        "url": "http://localhost:8000/api/v1/tasks/stats/summary"
      },
      "name": "Get Statistics",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [450, 300]
    },
    {
      "parameters": {
        "authentication": "none",
        "method": "POST",
        "url": "http://localhost:8000/api/v1/tasks/analyze/weekly-report",
        "body": {}
      },
      "name": "Generate Weekly Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [650, 300]
    },
    {
      "parameters": {
        "fromEmail": "your-email@gmail.com",
        "toEmail": "your-email@gmail.com",
        "subject": "📊 Weekly Productivity Report - Week {{ $now.toFormat('yyyy-MM-dd') }}",
        "textContent": "Hello! Here's your productivity analysis for this week:\n\n📈 Statistics:\n- Total Tasks: {{ $node[\"Get Statistics\"].json.total_tasks }}\n- Completed: {{ $node[\"Get Statistics\"].json.completed }}\n- Completion Rate: {{ ($node[\"Get Statistics\"].json.completion_rate).toFixed(1) }}%\n\n🎯 AI Analysis:\n{{ $node[\"Generate Weekly Report\"].json.ai_report.summary }}\n\nKeep pushing! 🚀"
      },
      "name": "Send Weekly Report Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [850, 300]
    }
  ],
  "connections": {
    "Trigger - Monday 9 AM": {
      "main": [
        [
          {
            "node": "Get Statistics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Statistics": {
      "main": [
        [
          {
            "node": "Generate Weekly Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Weekly Report": {
      "main": [
        [
          {
            "node": "Send Weekly Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
